page-login {
  div.bottom {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.logo {
	text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
}