<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->

<!-- <ul>
	<li ng-repeat="class in classes">
		{{class.key}}: {{class.val}}
	</li>
</ul> -->

<ion-header>
  <ion-navbar>
    <ion-title>Course Code</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-list *ngFor="let class of classes | async">
	<ion-item (click)="classSelect(class.$value)">
		{{class.$value}}
	</ion-item>
</ion-list>



<ion-item>
    <ion-label>Choose a class</ion-label>
    <ion-select [(ngModel)]="mySelect" (ionChange)='showSelectValue($event)'>
      <ion-option *ngFor="let class of classesCanEnroll" >{{class}}</ion-option>
    </ion-select>
  </ion-item>

<button ion-button round outline (click)="classEnroll()">Enroll</button>
</ion-content>

<!-- 
<ion-nav id="nav" #content [root]="rootPage"></ion-nav> -->