<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->

<!-- <ul>
	<li ng-repeat="class in classes">
		{{class.key}}: {{class.val}}
	</li>
</ul> -->

<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>My Classes</ion-title>
        <ion-buttons>
        <button ion-button icon-only (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button icon-only (click)="presentModal()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>



<ion-content>

<ion-list >

 
        <ion-item-sliding *ngFor="let class of classes | async" (click)="classSelect(class.$value)">
 
            <ion-item>
				{{class.$value}}
            </ion-item>
 
            <ion-item-options>
                <button ion-button icon-only (click)="deleteClass(class.$value)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>

 
</ion-list>










</ion-content>

<!-- 
<ion-nav id="nav" #content [root]="rootPage"></ion-nav> -->